@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

.DebtNegotiation {
  display: flex;
  flex: 3;
  order: 0;
  flex-direction: column;
  background-color: whitesmoke;
  text-align: left;
  padding: 25px;
}

@media only screen and (max-width: 650px) {
  .DebtNegotiation {
    flex-wrap: wrap;
  }
}
