.ReviewForm {
  display: flex;
  flex-direction: column;
  border: inset 5px gray;
  flex: 1;
  order: 1;
  padding: 5px;
  margin: 50px;
  text-align: left;
  background-color: whitesmoke;
  height: 300px;
}

.StarContainer {
  display: flex;
  flex-direction: row;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

@media only screen and (max-width: 650px) {
  .ReviewForm {
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
  }
}
