.Main-Page {
  display: flex;
  flex: 3;
  order: 0;
  flex-direction: column;
  background-color: whitesmoke;
  text-align: left;
  padding: 100px;
}

.img {
  display: flex;
  flex-grow: 3;
  height: 350px;
  width: 600px;
  background-image: url(./img/debt-negotiation.jpeg);
  animation: img 60s infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
@keyframes img {
  25% {
    background: url(./img/CreditCounseling.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  50% {
    background: url(./img/ConsolidationLoan.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  75% {
    background: url(./img/bankruptcy.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background: url(./img/Do+It+Yourself+Debt+Relief.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.Button {
  background: white;
}

@media only screen and (max-width: 768px) {
  .Main-Page {
    flex-wrap: wrap;
  }

  .img {
    height: 200px;
    width: 400px;
  }
}
