.DoingItYourself {
  display: flex;
  flex: 3;
  order: 0;
  flex-direction: column;
  background-color: whitesmoke;
  text-align: left;
  padding: 75px;
}

@media only screen and (max-width: 650px) {
  .DoingItYourself {
    flex-wrap: wrap;
    padding: 25px;
  }
}
